@keyframes gradient {

 0% {
     background-position: 0% 50%;
 }
 50% {
     background-position: 100% 50%;
 }

 100% {
     background-position: 0% 50%;
 }
}

body {
     background: linear-gradient(-45deg,
     #d033a4,
     #a33ce7,
       #23a6d5,
       #23d5ab
     );
     background-size: 400% 400%;
     animation: gradient 45s ease infinite;
     height: 100vh;
 }

.border {
    border-radius: 15px;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.25);
}

.card-columns{
    display: flex;
    gap: 30px;
}